<h3>Your Cart</h3>
<table *ngIf="items.size != 0" class="table table-sm table-light table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Title</th>
			<th scope="col">Size</th>
			<th scope="col">Color</th>
			<th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of items | keyvalue; let i=index">
			<!--TODO: Populate with row index (start with 1!)-->
			<td>{{i+1}}</td>
			<td>
				{{products[item.key-1].name}}
			</td>
			<!--TODO: display the title-->
			<td>{{products[item.key-1].size}}</td>
            <td>{{products[item.key-1].color}}</td>
            <td>${{products[item.key-1].price}}.00</td>
            <td>{{item.value}}</td>
            <td>${{item.value * products[item.key-1].price}}.00</td>
		</tr>
	</tbody>
</table>
<p *ngIf="items.size == 0">Your Cart is Empty</p>
<div>
    <span>Total Price: ${{getTotal()}}.00</span>
</div>